.drawing-container {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.03);
  text-align: center;
}
.sketch {
  padding: 1rem;
  font-size: 1.3em;
}
.sketch-year {
  padding: .5rem;
}
.slider-output {
  padding: .2rem;
}

.drawing-thumbnail {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.03);
  text-align: center;
}

.drawing-thumbnail .drawing-container {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  box-shadow: none;
  border: 0;
}
