.drawing-container,
.text-container {
  margin: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.03);
  text-align: center;
}
.sketch-title {
  color: black;
}
.sketch {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.sketch-year {
  padding: 0.5rem;
}
.slider-output {
  padding: 0.2rem;
}

canvas {
  height: 100%;
  width: 100%;
  margin: auto;
}

.text-container {
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 2rem;
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.03);
  text-align: left;
}

.drawing-controls {
  margin-bottom: 1em;
}
